<div class = "contents">
	<span class="profContents"> First Name: {{firstname}} </span>
	<br>
    <span class="profContents"> Last Name: {{lastname}} </span>
	<br>
	<span class="profContents"> Email: {{email}} </span>
	<br>
	<span class="profContents"> Username: {{username}} </span>
	<br>
	<br>
	<span class="profContents"> Password: {{password1}} </span>
	<br>
	<br>
	<span class="profContents"> Confirmed Password: {{password2}} </span>
	<br>	
</div>